<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div text-center class="logoContainer">
    <!-- <img src="../assets/icon/appBackground2.jpg" alt="logoImg" width="46%" class="logoImg"> -->
    <ion-text class="logotext">GOJAGAT</ion-text>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      industry's standard dummy text ever since the 1500s.
    </p>
  </div>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div padding class="padTopZero">
            <ion-item>
              <ion-label>
                <ion-icon name="person" slot="start"></ion-icon>
              </ion-label>
              <ion-input name="name" type="text" placeholder="User name" required [(ngModel)]="username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-icon name="lock" slot="start"></ion-icon>
              </ion-label>
              <ion-input name="password" type="password" placeholder="Password" required [(ngModel)]="password"></ion-input>
            </ion-item>
          </div>
          <div text-center padding class="padTopZero">
            <button type="submit" class="formSubBtn" (click)="login()">Login</button>
          </div>
          <div padding text-center class="btmText">
            <label>
              <a href="#">Forgot password?</a>
            </label>
          </div>
          <div padding text-center class="btmText">
            <label>Don't have an account?
              <a href="/register">Register</a>
            </label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="light" class="fabIcon">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>



</ion-content>