.cartList {
  margin-bottom: 40px;
}
.cartList ion-card-title {
  font-family: OpenSans-BoldItalic;
  font-size: 14px;
}
.cartList ion-card-subtitle {
  font-family: OpenSans-Italic;
  font-size: 10px;
}
.cartList ion-card-content {
  text-align: left;
}
.cartList a ion-row {
  border-bottom: 1px solid #ebebeb;
}
.cartAction ion-button {
  font-size: 12px;
  font-family: OpenSans-Regular;
}
.buyBtn {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 999;
}
