.cartList ion-card-title {
  font-family: OpenSans-BoldItalic;
  font-size: 14px;
}
.cartList ion-card-subtitle {
  font-family: OpenSans-Italic;
  font-size: 10px;
}
.cartList ion-card-content {
  text-align: left;
}
.cartList a ion-row {
  border-bottom: 1px solid #ebebeb;
}
.cartAction ion-button {
  font-size: 12px;
  font-family: OpenSans-Regular;
}
