<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>PRODUCT LIST</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="productList">
    <ion-label>Product List</ion-label>
  </ion-item>
  <ion-card margin>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <a href="/product-details">
              <ion-card-content class="category">
                <ion-img src="../assets/icon/fashionlist1.jpg" alt="logoImg" class="logoImg"></ion-img>
                <ion-card-title>Jocky Boys</ion-card-title>
                <ion-card-subtitle>Jockey Navy Boys Sweatshirt</ion-card-subtitle>
                <ion-text>
                  <ion-label color="dark">&#8377;699</ion-label>&nbsp;<ion-label><del>1999</del></ion-label>&nbsp;
                  <ion-label color="secondary" class="min-discount">35% off</ion-label>
                </ion-text>
              </ion-card-content>
            </a>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <a href="/product-details">
              <ion-card-content class="category">
                <ion-img src="../assets/icon/fashionlist2.jpg" alt="logoImg" class="logoImg"></ion-img>
                <ion-card-title>Jocky Boys</ion-card-title>
                <ion-card-subtitle>Jockey Navy Boys Sweatshirt</ion-card-subtitle>
                <ion-text>
                  <ion-label color="dark">&#8377;699</ion-label>&nbsp;<ion-label><del>1999</del></ion-label>&nbsp;
                  <ion-label color="secondary" class="min-discount">35% off</ion-label>
                </ion-text>
              </ion-card-content>
            </a>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <a href="/product-details">
              <ion-card-content class="category">
                <ion-img src="../assets/icon/fashionlist1.jpg" alt="logoImg" class="logoImg"></ion-img>
                <ion-card-title>Jocky Boys</ion-card-title>
                <ion-card-subtitle>Jockey Navy Boys Sweatshirt</ion-card-subtitle>
                <ion-text>
                  <ion-label color="dark">&#8377;699</ion-label>&nbsp;<ion-label><del>1999</del></ion-label>&nbsp;
                  <ion-label color="secondary" class="min-discount">35% off</ion-label>
                </ion-text>
              </ion-card-content>
            </a>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <a href="/product-details">
              <ion-card-content class="category">
                <ion-img src="../assets/icon/fashionlist2.jpg" alt="logoImg" class="logoImg"></ion-img>
                <ion-card-title>Jocky Boys</ion-card-title>
                <ion-card-subtitle>Jockey Navy Boys Sweatshirt</ion-card-subtitle>
                <ion-text>
                  <ion-label color="dark">&#8377;699</ion-label>&nbsp;<ion-label><del>1999</del></ion-label>&nbsp;
                  <ion-label color="secondary" class="min-discount">35% off</ion-label>
                </ion-text>
              </ion-card-content>
            </a>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <a href="/product-details">
              <ion-card-content class="category">
                <ion-img src="../assets/icon/fashionlist1.jpg" alt="logoImg" class="logoImg"></ion-img>
                <ion-card-title>Jocky Boys</ion-card-title>
                <ion-card-subtitle>Jockey Navy Boys Sweatshirt</ion-card-subtitle>
                <ion-text>
                  <ion-label color="dark">&#8377;699</ion-label>&nbsp;<ion-label><del>1999</del></ion-label>&nbsp;
                  <ion-label color="secondary" class="min-discount">35% off</ion-label>
                </ion-text>
              </ion-card-content>
            </a>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <a href="/product-details">
              <ion-card-content class="category">
                <ion-img src="../assets/icon/fashionlist2.jpg" alt="logoImg" class="logoImg"></ion-img>
                <ion-card-title>Jocky Boys</ion-card-title>
                <ion-card-subtitle>Jockey Navy Boys Sweatshirt</ion-card-subtitle>
                <ion-text>
                  <ion-label color="dark">&#8377;699</ion-label>&nbsp;<ion-label><del>1999</del></ion-label>&nbsp;
                  <ion-label color="secondary" class="min-discount">35% off</ion-label>
                </ion-text>
              </ion-card-content>
            </a>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <a href="/product-details">
              <ion-card-content class="category">
                <ion-img src="../assets/icon/fashionlist1.jpg" alt="logoImg" class="logoImg"></ion-img>
                <ion-card-title>Jocky Boys</ion-card-title>
                <ion-card-subtitle>Jockey Navy Boys Sweatshirt</ion-card-subtitle>
                <ion-text>
                  <ion-label color="dark">&#8377;699</ion-label>&nbsp;<ion-label><del>1999</del></ion-label>&nbsp;
                  <ion-label color="secondary" class="min-discount">35% off</ion-label>
                </ion-text>
              </ion-card-content>
            </a>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <a href="/product-details">
              <ion-card-content class="category">
                <ion-img src="../assets/icon/fashionlist2.jpg" alt="logoImg" class="logoImg"></ion-img>
                <ion-card-title>Jocky Boys</ion-card-title>
                <ion-card-subtitle>Jockey Navy Boys Sweatshirt</ion-card-subtitle>
                <ion-text>
                  <ion-label color="dark">&#8377;699</ion-label>&nbsp;<ion-label><del>1999</del></ion-label>&nbsp;
                  <ion-label color="secondary" class="min-discount">35% off</ion-label>
                </ion-text>
              </ion-card-content>
            </a>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <a href="/product-details">
              <ion-card-content class="category">
                <ion-img src="../assets/icon/fashionlist1.jpg" alt="logoImg" class="logoImg"></ion-img>
                <ion-card-title>Jocky Boys</ion-card-title>
                <ion-card-subtitle>Jockey Navy Boys Sweatshirt</ion-card-subtitle>
                <ion-text>
                  <ion-label color="dark">&#8377;699</ion-label>&nbsp;<ion-label><del>1999</del></ion-label>&nbsp;
                  <ion-label color="secondary" class="min-discount">35% off</ion-label>
                </ion-text>
              </ion-card-content>
            </a>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <a href="/product-details">
              <ion-card-content class="category">
                <ion-img src="../assets/icon/fashionlist2.jpg" alt="logoImg" class="logoImg"></ion-img>
                <ion-card-title>Jocky Boys</ion-card-title>
                <ion-card-subtitle>Jockey Navy Boys Sweatshirt</ion-card-subtitle>
                <ion-text>
                  <ion-label color="dark">&#8377;699</ion-label>&nbsp;<ion-label><del>1999</del></ion-label>&nbsp;
                  <ion-label color="secondary" class="min-discount">35% off</ion-label>
                </ion-text>
              </ion-card-content>
            </a>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <a href="/product-details">
              <ion-card-content class="category">
                <ion-img src="../assets/icon/fashionlist1.jpg" alt="logoImg" class="logoImg"></ion-img>
                <ion-card-title>Jocky Boys</ion-card-title>
                <ion-card-subtitle>Jockey Navy Boys Sweatshirt</ion-card-subtitle>
                <ion-text>
                  <ion-label color="dark">&#8377;699</ion-label>&nbsp;<ion-label><del>1999</del></ion-label>&nbsp;
                  <ion-label color="secondary" class="min-discount">35% off</ion-label>
                </ion-text>
              </ion-card-content>
            </a>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <a href="/product-details">
              <ion-card-content class="category">
                <ion-img src="../assets/icon/fashionlist2.jpg" alt="logoImg" class="logoImg"></ion-img>
                <ion-card-title>Jocky Boys</ion-card-title>
                <ion-card-subtitle>Jockey Navy Boys Sweatshirt</ion-card-subtitle>
                <ion-text>
                  <ion-label color="dark">&#8377;699</ion-label>&nbsp;<ion-label><del>1999</del></ion-label>&nbsp;
                  <ion-label color="secondary" class="min-discount">35% off</ion-label>
                </ion-text>
              </ion-card-content>
            </a>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <a href="/product-details">
              <ion-card-content class="category">
                <ion-img src="../assets/icon/fashionlist1.jpg" alt="logoImg" class="logoImg"></ion-img>
                <ion-card-title>Jocky Boys</ion-card-title>
                <ion-card-subtitle>Jockey Navy Boys Sweatshirt</ion-card-subtitle>
                <ion-text>
                  <ion-label color="dark">&#8377;699</ion-label>&nbsp;<ion-label><del>1999</del></ion-label>&nbsp;
                  <ion-label color="secondary" class="min-discount">35% off</ion-label>
                </ion-text>
              </ion-card-content>
            </a>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <a href="/product-details">
              <ion-card-content class="category">
                <ion-img src="../assets/icon/fashionlist2.jpg" alt="logoImg" class="logoImg"></ion-img>
                <ion-card-title>Jocky Boys</ion-card-title>
                <ion-card-subtitle>Jockey Navy Boys Sweatshirt</ion-card-subtitle>
                <ion-text>
                  <ion-label color="dark">&#8377;699</ion-label>&nbsp;<ion-label><del>1999</del></ion-label>&nbsp;
                  <ion-label color="secondary" class="min-discount">35% off</ion-label>
                </ion-text>
              </ion-card-content>
            </a>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>