.productList {
  padding: 16px 16px 16px 0;
  font-family: OpenSans-Bold;
}
.category ion-card-title {
  font-family: OpenSans-BoldItalic;
  font-size: 12px;
}
.category ion-img {
  margin-bottom: 20px;
  border: 1px solid #ebebeb;
  height: auto;
}
.category ion-card-subtitle {
  font-family: OpenSans-Italic;
  font-size: 10px;
}
.min-discount {
  font-family: OpenSans-Light;
  font-size: 12px;
}
