ion-content {
  --ion-background-color: rgba(147, 206, 222, 1);
  --ion-background-color: -moz-linear-gradient(
    top,
    rgba(147, 206, 222, 1) 0%,
    rgba(44, 165, 199, 1) 42%,
    rgba(43, 145, 173, 1) 100%
  );
  --ion-background-color: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(147, 206, 222, 1)),
    color-stop(42%, rgba(44, 165, 199, 1)),
    color-stop(100%, rgba(43, 145, 173, 1))
  );
  --ion-background-color: -webkit-linear-gradient(
    top,
    rgba(147, 206, 222, 1) 0%,
    rgba(44, 165, 199, 1) 42%,
    rgba(43, 145, 173, 1) 100%
  );
  --ion-background-color: -o-linear-gradient(
    top,
    rgba(147, 206, 222, 1) 0%,
    rgba(44, 165, 199, 1) 42%,
    rgba(43, 145, 173, 1) 100%
  );
  --ion-background-color: -ms-linear-gradient(
    top,
    rgba(147, 206, 222, 1) 0%,
    rgba(44, 165, 199, 1) 42%,
    rgba(43, 145, 173, 1) 100%
  );
  --ion-background-color: linear-gradient(
    to bottom,
    rgba(147, 206, 222, 1) 0%,
    rgba(44, 165, 199, 1) 42%,
    rgba(43, 145, 173, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#2b91ad', GradientType=0 );
}
.logotext {
  font-family: OpenSans-ExtraBold;
  font-size: 36px;
  padding: 0;
  color: #045d75;
}
.logoContainer {
  padding-top: 10%;
}
.form-styles {
  margin: 10% 0 20% 0;
}
.item {
  border-radius: 26px;
  border: 1px solid #f2f2f2;
  outline: none;
  color: #f2f2f2;
  --ion-background-color: transparent;
  margin: 4% auto 0 auto;
}
.item ion-input {
  font-family: OpenSans-Italic;
}
.item:first-child {
  margin-top: 0;
}
.padTopZero {
  padding-top: 0;
}
.formSubBtn {
  padding: 16px;
  width: 100%;
  border-radius: 26px;
  background: transparent;
  border: 2px solid #f2f2f2;
  font-size: 18px;
  color: #fff;
  outline: none;
}
.regBttmText {
  padding: 6px;
}
.regBttmText label,
.regBttmText a {
  color: #f2f2f2;
  font-size: 16px;
  text-decoration: none;
}

ion-fab .fabIcon {
  --ion-color-base: transparent !important;
  border-radius: 50%;
  border: 2px solid #f2f2f2;
}
.fabIcon ion-icon,
.close-icon {
  color: #f2f2ff;
}
