<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>REGISTER</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div text-center class="logoContainer">
    <img src="../assets/icon/appBackground2.jpg" alt="logoImg" width="46%" class="logoImg">
  </div>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div padding class="padTopZero">
            <ion-item>
              <ion-label>
                <ion-icon name="person" slot="start"></ion-icon>
              </ion-label>
              <ion-input name="name" type="text" placeholder="User name" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-icon name="mail" slot="start"></ion-icon>
              </ion-label>
              <ion-input name="email" type="email" placeholder="your@email.com" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-icon name="call" slot="start"></ion-icon>
              </ion-label>
              <ion-input name="mobile" type="number" placeholder="+91 9876543210" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-icon name="lock" slot="start"></ion-icon>
              </ion-label>
              <ion-input name="password" type="password" placeholder="Password" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-icon name="lock" slot="start"></ion-icon>
              </ion-label>
              <ion-input name="confirm" type="password" placeholder="Confirm password" required></ion-input>
            </ion-item>
          </div>
          <div text-center padding class="padTopZero">
            <button type="submit" class="formSubBtn">Register</button>
          </div>
          <div padding text-center class="regBttmText">
            <label>Have an account?
              <a href="/login">Login</a>
            </label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>